/*------------------------------DESKTOP VIEW------------------------------*/

/* .App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #894747;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-bar,
.right-bar {
  padding: 1em 5em 0 5em;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  button {
    border: none;
    background: none;
    color: wheat;
    font-size: 0.9vw;
    border-radius: 50%;
  }
}

.left-bar {
  button {
    width: 9vw;
    padding: 1em 2em;
    background: rgba(0, 0, 0, 1);
    border-radius: 2px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.intro-page {
  font-family: "Covered By Your Grace", cursive;
  height: 80%;
  width: 80%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
}

.clown-image-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25vw;
  }
}

.intro-text-container {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  input {
    font-size: 1.5vw;
    outline: none;
    border: none;
    padding: 0.4em 1em;
    border-radius: 5px;
  }
  button {
    font-size: 1.5vw;
    border: none;
    padding: 0.43em 1em;
    margin-left: 1em;
    background-color: black;
    color: wheat;
    border-radius: 5px;
  }
}

.game-name {
  font-size: 8vw;
}

.game-descriptor {
  font-size: 3vw;
  color: wheat;
}

.player-greeting {
  font-size: 2vw;
}

.call-police-btn,
.police-report-btn,
.view-evidence-btn,
.search-btn {
  width: 5vw;
  height: 10vh;
  overflow: hidden;
  background-color: #231f20;
  transition: all 0.5s;
  &:hover {
    width: 6vw;
    height: 11vh;
    transition: all 0.5s;
  }
  img {
    width: 100%;
    height: 100%;
  }
} */

/*------------------------------MOBILE VIEW------------------------------*/

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #894747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-bar {
  padding: 0em 5em;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
}

.burger-menu-btn {
  border: none;
  background: none;
  /* font-size: 0.9vw; */
  border-radius: 50%;
  width: 75px;
  height: 8vh;
  overflow: hidden;
  transition: all 0.5s;
  /* From https://css.glass */
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  img {
    width: 100%;
    height: 100%;
  }
}

.right-bar {
  display: none;
}

.intro-page {
  font-family: "Covered By Your Grace", cursive;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.clown-image-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60vw;
  }
}

.intro-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  input {
    font-size: 5.5vw;
    outline: none;
    border: none;
    padding: 0.4em 1em;
    border-radius: 5px;
  }
  button {
    font-size: 5.5vw;
    border: none;
    padding: 0.43em 1em;
    margin-left: 1em;
    background-color: black;
    color: wheat;
    border-radius: 5px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.game-name {
  font-size: 18vw;
}

.game-descriptor {
  font-size: 10vw;
  color: wheat;
}

.player-greeting {
  font-size: 9vw;
}

.recorded-conversations-btn,
.visited-addresses-btn {
  display: none;
}

/*------------------------------MEDIA QUERIES------------------------------*/

@media (min-width: 1180px) {
  .App {
    flex-direction: row;
  }

  .recorded-conversations-btn,
  .visited-addresses-btn {
    display: initial;
  }

  .burger-menu-btn {
    display: none;
  }

  .right-bar {
    display: flex;
    align-items: center;
    gap: 2em;
    button {
      border-radius: 50%;
    }
  }

  .left-bar,
  .right-bar {
    padding: 1em 5em 0 5em;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: flex-start;
    button {
      border: none;
      color: wheat;
      font-size: 0.9vw;
    }
  }

  .left-bar {
    button {
      width: 9vw;
      padding: 1em 2em;
      background: rgba(0, 0, 0, 1);
      border-radius: 2px;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .intro-page {
    height: 80%;
    width: 80%;
    flex-direction: row;
  }

  .clown-image-container {
    width: 40%;
    height: 100%;
    img {
      width: 25vw;
    }
  }

  .intro-text-container {
    width: 60%;
    input {
      font-size: 1.5vw;
    }
    button {
      font-size: 1.5vw;
    }
  }

  .game-name {
    font-size: 8vw;
  }

  .game-descriptor {
    font-size: 3vw;
  }

  .player-greeting {
    font-size: 2vw;
  }

  .call-police-btn,
  .police-report-btn,
  .view-evidence-btn,
  .search-btn {
    width: 5vw;
    height: 10vh;
    overflow: hidden;
    background-color: #231f20;
    transition: all 0.5s;
    &:hover {
      width: 6vw;
      height: 11vh;
      transition: all 0.5s;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
