@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #894747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  font-family: "Covered By Your Grace", cursive;
  height: 80%;
  width: 80%;
  display: flex;
  border: 2px solid black;
}

.clown-image-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25vw;
  }
}

.game-name-container {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  input {
    font-size: 2em;
    outline: none;
    padding: 0.4em 1em;
  }
  button {
    font-size: 2em;
    border: none;
    padding: 0.43em 1em;
    margin-left: 1em;
  }
}

.game-name {
  font-size: 8vw;
}

.game-descriptor {
  font-size: 3vw;
  color: white;
}

.player-greeting {
  font-size: 2vw;
}

.top-bar,
.bottom-bar {
  border: 2px solid fuchsia;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

button {
  padding: 1em;
  border: none;
}
