.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #894747;
  /* background-color: #8D7471; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-bar,
.bottom-bar {
  padding: 0 5em;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  button {
    padding: 1.2em 2em;
    border: none;
    background: none;
    color: wheat;
    font-size: 0.9vw;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.intro-page {
  font-family: "Covered By Your Grace", cursive;
  height: 80%;
  width: 80%;
  display: flex;
  border: 2px solid rgb(100, 58, 58);
}

.clown-image-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25vw;
  }
}

.intro-text-container {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  input {
    font-size: 1.5vw;
    outline: none;
    border: none;
    padding: 0.4em 1em;
    border-radius: 5px;
  }
  button {
    font-size: 1.5vw;
    border: none;
    padding: 0.43em 1em;
    margin-left: 1em;
    background-color: black;
    color: wheat;
    border-radius: 5px;
  }
}

.game-name {
  font-size: 8vw;
}

.game-descriptor {
  font-size: 3vw;
  color: wheat;
}

.player-greeting {
  font-size: 2vw;
}

.call-police-btn {
  margin-left: auto;
}

.search-bar {
  margin-left: auto;
  font-size: 1.2vw;
  outline: none;
  border: none;
  padding: 0.6em 1em;
  border-radius: 5px;
}
