/*-----------FONTS-----------*/
$mainFont: "Covered By Your Grace", cursive;
/*-----------COLORS-----------*/
$gameContainerBgColor: rgba(0, 0, 0, 0.2);
$scrollbarTrack: rgb(0, 0, 0);
$scrollbarThumb1: rgb(204, 156, 156);
$scrollbarThumb2: rgb(114, 56, 56);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  background: $scrollbarTrack;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, $scrollbarThumb1 1%, $scrollbarThumb2 100%);
}
