/*------------------------------MOBILE VIEW------------------------------*/

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #894747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 90%;
  width: 100%;
}

.intro-page {
  font-family: "Covered By Your Grace", cursive;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0 3em;
}

.clown-image-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60vw;
  }
}

.intro-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  input {
    font-size: 5.5vw;
    outline: none;
    border: none;
    padding: 0.4em 1em;
    border-radius: 5px;
  }
  button {
    font-size: 5.5vw;
    border: none;
    padding: 0.43em 1em;
    margin-left: 1em;
    background-color: black;
    color: wheat;
    border-radius: 5px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.game-name {
  font-size: 18vw;
}

.game-descriptor {
  font-size: 10vw;
  color: wheat;
}

.player-greeting {
  font-size: 9vw;
}

/*------------------------------MEDIA QUERIES------------------------------*/

/*-----------WIDTH-----------*/

@media (min-width: 435px) {
  .clown-image-container {
    img {
      width: 16em;
    }
  }

  .intro-text-container {
    input {
      font-size: 1.5em;
    }
    button {
      font-size: 1.5em;
    }
  }

  .game-name {
    font-size: 5em;
  }

  .game-descriptor {
    font-size: 3em;
  }
}

@media (min-width: 1180px) {
  .App {
    flex-direction: row;
  }

  .game-container {
    height: 80%;
    width: 80%;
  }

  .intro-page {
    height: 100%;
    width: 100%;
    flex-direction: row;
  }

  .clown-image-container {
    width: 40%;
    height: 100%;
    img {
      width: 25vw;
    }
  }

  .intro-text-container {
    width: 60%;
    input {
      font-size: 1.5vw;
    }
    button {
      font-size: 1.5vw;
    }
  }

  .game-name {
    font-size: 8vw;
  }

  .game-descriptor {
    font-size: 3vw;
  }

  .player-greeting {
    font-size: 2vw;
  }
}

/*-----------HEIGHT-----------*/

@media (max-height: 800px) {
  .intro-text-container {
    gap: 1rem;
  }
}

@media (max-height: 660px) {
  .game-name {
    font-size: 12vh;
  }

  .game-descriptor {
    font-size: 5vh;
  }

  .clown-image-container {
    img {
      width: 30vh;
    }
  }

  .intro-text-container {
    input {
      font-size: 4vh;
    }
    button {
      font-size: 4vh;
    }
  }
}
