.jimmysreveal-page {
    width:100%;
    height: 100%;
    // background-color: black;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    overflow: auto;

    .jimmysreveal {
        /* border: 2px solid whitesmoke; */
        margin: 0 auto;
        padding: 4em;
        font-size: 2em;
        background: linear-gradient(90deg, rgb(179, 103, 103) 1%, rgb(114, 56, 56) 100%);
      
        .jimmyRevealButton {
            /* border: 2px solid white; */
            width: 40vw;
            height: 15vh;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
    
            button {
                width: 45%;
              }
          }
      }
    
      .creditGithub {
        display: flex;
        flex-direction: column;
        border: 2px solid blue;
        width: 20%;
        margin: 0 auto;
      }

}

