/*-----------COLORS-----------*/
$dialogBoxBorderColor: black;
$dialogBoxBgColor: whitesmoke;
$detectiveInputTextColor: white;
$detectiveInputBgColor: black;

/*------------------------------MOBILE VIEW------------------------------*/

.police-page {
  font-family: $mainFont;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $gameContainerBgColor;
  overflow: hidden;
  padding: 1em;
}

.police-container,
.detective-container {
  height: 50%;
  display: flex;
}

.police-image-container,
.detective-image-container {
  width: 30%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.police-dialog-container,
.detective-dialog-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box-police,
.dialog-box-detective {
  border: 3px solid $dialogBoxBorderColor;
  border-radius: 2px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  background-color: $dialogBoxBgColor;
  width: 95%;

}

.dnaRequestBtn, .dnaRequestBtn:link, .dnaRequestBtn:visited {
  padding: 5px 10px;
  background-color: #BE8F8F;
  border: none;
  border-radius: 15px; ;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all .2s ease-in-out;
}

.dnaRequestBtn:hover {
  background: #333;
  border: 1px solid #333;
  color: #FEFEFE;
  border-radius: 30px;
}

.dialog-box-detective {
  input {
    font-family: $mainFont;
    border: none;
    background-color: $detectiveInputBgColor;
    width: 90%;
    color: $detectiveInputTextColor;
    font-size: 4vw;
    border-radius: 2px;
    padding: 1em 0.2em 1em 0.4em;
  }
}

/*------------------------------MEDIA QUERIES------------------------------*/

/*-----------WIDTH-----------*/

/* @media (max-width: 500px) {
  .police-container,
  .detective-container {
    flex-direction: column;
    align-items: center;
  }
} */

@media (max-width: 800px) {
  .police-container,
  .detective-container {
    height: 40%;
    /* border: 2px solid red; */
  }
}

@media (min-width: 800px) {
  .police-container,
  .detective-container {
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  .dialog-box-police,
  .dialog-box-detective {
    padding: 2em;
    width: 700px;
    font-size: 30px;
  }

  .dialog-box-detective {
    input {
      padding: 10px;
      font-size: 30px;
    }
  }

  .police-image-container,
  .detective-image-container {
    height: 80%;
  }

  .police-dialog-container {
    justify-content: flex-start;
  }

  .detective-dialog-container {
    justify-content: flex-end;
  }
}

/*-----------HEIGHT-----------*/

@media (max-height: 550px) {
  .dialog-box-police,
  .dialog-box-detective {
    padding: 1em;
  }
}
