.left-bar {
  padding: 0em 5em;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5em;
}

.burger-menu-btn {
  border: none;
  background: none;
  border-radius: 50%;
  width: 75px;
  height: 8vh;
  overflow: hidden;
  transition: all 0.5s;
  /* From https://css.glass */
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.right-bar {
  display: none;
}

.recorded-conversations-btn,
.visited-addresses-btn {
  display: none;
}

/*------------------------------MEDIA QUERIES------------------------------*/

/*-----------WIDTH-----------*/

@media (min-width: 1180px) {
  .recorded-conversations-btn,
  .visited-addresses-btn {
    display: initial;
    font-family: "Covered By Your Grace", cursive;
    &:hover {
      cursor: pointer;
    }
  }

  .burger-menu-btn {
    display: none;
  }

  .right-bar {
    display: flex;
    align-items: center;
    gap: 5em;
    button {
      border-radius: 50%;
    }
  }

  .left-bar,
  .right-bar {
    padding: 1em 5em 0 5em;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    button {
      border: none;
      color: wheat;
      font-size: 0.9vw;
    }
  }

  .left-bar {
    button {
      font-size: 1.2vw;
      width: 9vw;
      padding: 1em 2em;
      background: rgba(35, 31, 32, 1);
      border-radius: 50%;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .call-police-btn,
  .police-report-btn,
  .view-evidence-btn,
  .search-btn {
    width: 5vw;
    height: 10vh;
    overflow: hidden;
    background-color: #231f20;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      background-color: rgba(35, 31, 32, 0.8);
      width: 6vw;
      height: 11vh;
      transition: all 0.5s;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
