/*-----------COLORS-----------*/
$appBgColor: #894747;
$sidebarIconAndTextColor: wheat;
$leftBarBtnBgColor: rgba(35, 31, 32, 1);
$leftBarBtnBgColorHover: rgba(0, 0, 0, 0.3);
$rightBarBtnBgColor: #231f20;
$rightBarBtnBgColorHover: rgba(35, 31, 32, 0.8);
$searchBtnBgColor: white;
$searchBtnBgColorHover: rgba(255, 255, 255, 0.8);
$callPoliceBtnBgColor: wheat;
$callPoliceBtnBgColorHover: rgba(245, 222, 179, 0.8);

/*------------------------------MOBILE VIEW------------------------------*/

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: $appBgColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 90%;
  width: 100%;
}

.left-bar {
  padding: 0em 5em;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5em;
}

.burger-menu-btn {
  border: none;
  background: none;
  border-radius: 50%;
  width: 75px;
  height: 8vh;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.right-bar {
  display: none;
}

.recorded-conversations-btn,
.visited-addresses-btn {
  display: none;
}

/*------------------------------MEDIA QUERIES------------------------------*/

/*-----------WIDTH-----------*/

@media (min-width: 1180px) {
  .App {
    flex-direction: row;
  }

  .game-container {
    height: 80%;
    width: 80%;
  }

  .recorded-conversations-btn,
  .visited-addresses-btn {
    display: initial;
    font-family: $mainFont;
    &:hover {
      cursor: pointer;
    }
  }

  .burger-menu-btn {
    display: none;
  }

  .right-bar {
    display: flex;
    align-items: center;
    gap: 5em;
    button {
      border-radius: 50%;
    }
  }

  .left-bar,
  .right-bar {
    padding: 1em 5em 0 5em;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    button {
      border: none;
      color: $sidebarIconAndTextColor;
      font-size: 0.9vw;
    }
  }

  .left-bar {
    button {
      font-size: 1.2vw;
      width: 9vw;
      padding: 1em 2em;
      background: $leftBarBtnBgColor;
      border-radius: 50%;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      &:hover {
        background: $leftBarBtnBgColorHover;
      }
    }
  }

  .call-police-btn,
  .police-report-btn,
  .view-evidence-btn,
  .search-btn {
    width: 5vw;
    height: 10vh;
    overflow: hidden;
    background-color: $rightBarBtnBgColor;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      background-color: $rightBarBtnBgColorHover;
      width: 6vw;
      height: 11vh;
      transition: all 0.5s;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .call-police-btn {
    background-color: $callPoliceBtnBgColor;
    &:hover {
      background-color: $callPoliceBtnBgColorHover;
    }
  }

  .search-btn {
    background-color: $searchBtnBgColor;
    &:hover {
      background-color: $searchBtnBgColorHover;
    }
  }
}
