@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap"); /*-----------FONTS-----------*/
/*-----------COLORS-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: rgb(31, 31, 31);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgb(179, 103, 103) 1%, rgb(114, 56, 56) 100%);
}

/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #894747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  position: relative;
  height: 90%;
  width: 100%;
}

.left-bar {
  position: relative;
  padding: 0em 5em;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5em;
}

.right-bar {
  display: none;
}

.recorded-conversations-btn,
.visited-addresses-btn {
  display: none;
}

.clarkson-results {
  border: 2px solid white;
  width: 70vw;
  height: 80%;
  color: beige;
  font-size: 2em;
}

.clarkson-results button {
  margin-top: 2em;
padding: 0.5em;
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  2% {
    width: 5%;
  }
  9% {
    width: 11%;
  }
  14% {
    width: 19%;
  }
  27% {
    width: 27%;
  }
  33% {
    width: 31%;
  }
  39% {
    width: 43%;
  }
  47% {
    width: 46%;
  }
  55% {
    width: 50%;
  }
  61% {
    width: 60%;
  }
  70% {
    width: 65%;
  }
  77% {
    width: 73%;
  }
  88% {
    width: 85%;
  }
  94% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}

/* @-webkit-keyframes progress-bar {
    from {
      width: 0%;
    }
    2% {
      width: 5%;
    }
    9% {
      width: 11%;
    }
    14% {
      width: 19%;
    }
    27% {
      width: 27%;
    }
    33% {
      width: 31%;
    }
    39% {
      width: 43%;
    }
    47% {
      width: 46%;
    }
    55% {
      width: 50%;
    }
    61% {
      width: 60%;
    }
    70% {
      width: 65%;
    }
    77% {
      width: 73%;
    }
    88% {
      width: 85%;
    }
    94% {
      width: 95%;
    }
    100% {
      width: 100%;
    }
  } */

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (max-width: 700px) {
  .left-bar {
    padding: 0em 1em;
  }}
  @media (min-width: 200px) {
  .dna-analysis-progress-bar {
    position: relative;
    height: 1.5em;
    width: 20%;
    background-color: #181818;
    border-radius: 16px;
    overflow: hidden;
  }

  .dna-analysis-progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(145, 255, 0); */
    background-color: wheat;
    border: none;
    height: 100%;
    border-radius: inherit;
    /******* animation *******/
    -webkit-animation-name: progress-bar;
            animation-name: progress-bar;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .dna-analysis-ready-container {
    position: relative;
    font-family: "Covered By Your Grace", cursive;
    font-size: 1.2em;
    border: none;
    height: 40%;
    width: 42vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: wheat;
    background-color: #181818;
    border-radius: 16px;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .dna-analysis-ready-container:hover {
    color: whitesmoke;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}
@media (min-width: 1180px) {
  .App {
    flex-direction: row;
  }
  .game-container {
    align-self: flex-start;
    height: 80%;
    width: 80%;
  }
  .top-bar {
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dna-analysis-progress-bar {
    position: relative;
    height: 30%;
    width: 20%;
    background-color: rgb(24, 24, 24);
    border-radius: 16px;
    overflow: hidden;
  }
  .dna-analysis-progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(145, 255, 0); */
    background-color: wheat;
    border: none;
    height: 100%;
    border-radius: inherit;
    /******* animation *******/
    -webkit-animation-name: progress-bar;
            animation-name: progress-bar;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  
 
  .dna-analysis-ready-container {
    position: relative;
    font-family: "Covered By Your Grace", cursive;
    font-size: 1.2em;
    border: none;
    height: 40%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    background-color: rgb(24, 24, 24);
    border-radius: 16px;
    overflow: hidden;
    transition: color 0.3s;
  }
  .dna-analysis-ready-container:hover {
    color: whitesmoke;
    transition: color 0.3s;
  }
  .recorded-conversations-btn,
.visited-addresses-btn {
    display: initial;
    font-family: "Covered By Your Grace", cursive;
  }
  .recorded-conversations-btn:hover,
.visited-addresses-btn:hover {
    cursor: pointer;
  }
  .right-bar {
    display: flex;
    align-items: center;
    gap: 5em;
  }
  .right-bar button,
.right-bar input {
    border-radius: 50%;
  }
  .left-bar,
.right-bar {
    padding: 1em 5em 0 5em;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: center;
  }
  .left-bar button,
.right-bar button {
    border: none;
    color: wheat;
    font-size: 0.9vw;
  }
  .left-bar button {
    font-size: 1.2vw;
    width: 9vw;
    padding: 1em 2em;
    background: rgb(35, 31, 32);
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .left-bar button:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  .call-police-btn,
.police-report-btn,
.view-evidence-btn,
.call-police-btn-active,
.police-report-btn-active,
.view-evidence-btn-active,
.search-btn {
    width: 5vw;
    height: 10vh;
    overflow: hidden;
    background-color: #231f20;
    transition: width 0.3s, height 0.3s;
  }
  .call-police-btn:hover,
.police-report-btn:hover,
.view-evidence-btn:hover,
.call-police-btn-active:hover,
.police-report-btn-active:hover,
.view-evidence-btn-active:hover,
.search-btn:hover {
    cursor: pointer;
    background-color: rgba(35, 31, 32, 0.8);
    width: 5.5vw;
    height: 10.5vh;
    transition: width 0.3s, height 0.3s;
  }
  .call-police-btn img,
.police-report-btn img,
.view-evidence-btn img,
.call-police-btn-active img,
.police-report-btn-active img,
.view-evidence-btn-active img,
.search-btn img {
    width: 100%;
    height: 100%;
  }
  /*   
  .call-police-btn {
    background-color: $callPoliceBtnBgColor;
    &:hover {
      background-color: $callPoliceBtnBgColorHover;
    }
  } 

  .call-police-btn-active {
    @extend .call-police-btn;
    box-shadow: 0 0 10px 1px #fff, 0 0 10px 1px #f5deb3,
      0 0 10px 1px rgb(255, 255, 255);
  }
  */
  .call-police-btn-active,
.police-report-btn-active,
.view-evidence-btn-active {
    box-shadow: 0 0 10px 1px rgb(207, 207, 207), 0 0 10px 1px #f5deb3, 0 0 10px 1px rgb(255, 255, 255);
  }
  .search-btn {
    position: relative;
    border: none;
    outline: none;
    background-color: wheat;
    background-image: url("../images/searchAnything.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.1em;
    transition: all 0.5s;
  }
  .search-btn:hover {
    width: 5vw;
    height: 10vh;
    background-color: wheat;
    transition: all 0.5s;
  }
  .search-btn:focus {
    cursor: initial;
    background-image: none;
    text-indent: 20px;
    z-index: 15;
    border-radius: 2px;
    margin-right: 20vw;
    width: 25vw;
    background-color: whitesmoke;
    transition: all 0.5s;
  }
}
/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.intro-page {
  font-family: "Covered By Your Grace", cursive;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0 3em;
}

.clown-image-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clown-image-container img {
  width: 60vw;
}

.intro-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.intro-text-container input {
  font-size: 5.5vw;
  outline: none;
  border: none;
  padding: 0.4em 1em;
  border-radius: 5px;
}
.intro-text-container button {
  font-size: 5.5vw;
  border: none;
  padding: 0.43em 1em;
  margin-left: 1em;
  background-color: black;
  color: wheat;
  border-radius: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.game-name {
  font-size: 18vw;
}

.game-descriptor {
  font-size: 10vw;
  color: wheat;
}

.player-greeting {
  font-size: 9vw;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (min-width: 435px) {
  .clown-image-container img {
    width: 16em;
  }
  .intro-text-container input {
    font-size: 1.5em;
  }
  .intro-text-container button {
    font-size: 1.5em;
  }
  .game-name {
    font-size: 5em;
  }
  .game-descriptor {
    font-size: 3em;
  }
}
@media (min-width: 1180px) {
  .intro-page {
    height: 100%;
    width: 100%;
    flex-direction: row;
  }
  .clown-image-container {
    width: 40%;
    height: 100%;
  }
  .clown-image-container img {
    width: 25vw;
  }
  .intro-text-container {
    width: 60%;
  }
  .intro-text-container input {
    font-size: 1.5vw;
  }
  .intro-text-container button {
    font-size: 1.5vw;
  }
  .game-name {
    font-size: 8vw;
    margin-top: 0.8em;
  }
  .game-descriptor {
    font-size: 3vw;
  }
  .input-container {
    margin-top: 2em;
    gap: 2em;
  }
  .input-container button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .player-greeting {
    font-size: 2vw;
    margin-top: 1em;
  }
}
/*-----------HEIGHT-----------*/
@media (max-height: 800px) {
  .intro-text-container {
    gap: 1rem;
  }
}
@media (max-height: 660px) {
  .game-name {
    font-size: 12vh;
  }
  .game-descriptor {
    font-size: 5vh;
  }
  .clown-image-container img {
    width: 30vh;
  }
  .intro-text-container input {
    font-size: 4vh;
  }
  .intro-text-container button {
    font-size: 4vh;
  }
}
/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.police-page {
  font-family: "Covered By Your Grace", cursive;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 1em;
}

.police-container,
.detective-container {
  height: 50%;
  display: flex;
}

.police-image-container,
.detective-image-container {
  width: 30%;
  height: 100%;
}
.police-image-container img,
.detective-image-container img {
  width: 100%;
  height: 100%;
}

.police-dialog-container,
.detective-dialog-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box-police,
.dialog-box-detective {
  border: 3px solid black;
  border-radius: 2px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  background-color: whitesmoke;
  width: 95%;
}

.dialog-box-detective input {
  font-family: "Covered By Your Grace", cursive;
  border: none;
  background-color: black;
  width: 90%;
  color: white;
  font-size: 4vw;
  border-radius: 2px;
  padding: 1em 0.2em 1em 0.4em;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
/* @media (max-width: 500px) {
  .police-container,
  .detective-container {
    flex-direction: column;
    align-items: center;
  }
} */
@media (max-width: 800px) {
  .police-container,
.detective-container {
    height: 40%;
    /* border: 2px solid red; */
  }
}
@media (min-width: 800px) {
  .police-container,
.detective-container {
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  .dialog-box-police,
.dialog-box-detective {
    padding: 2em;
    width: 700px;
    font-size: 30px;
  }
  .dialog-box-detective input {
    padding: 10px;
    font-size: 30px;
  }
  .police-image-container,
.detective-image-container {
    height: 80%;
  }
  .police-dialog-container {
    justify-content: flex-start;
  }
  .detective-dialog-container {
    justify-content: flex-end;
  }
}
/*-----------HEIGHT-----------*/
@media (max-height: 550px) {
  .dialog-box-police,
.dialog-box-detective {
    padding: 1em;
  }
}
/*------------------------------MOBILE VIEW------------------------------*/
.police-report-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 1em;
}

.police-report-container {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
.police-report-container img {
  width: 100%;
}

/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.evidence-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 1em;
}

.evidence-page-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.evidence-page-container > div {
  height: 25%;
  width: 70%;
  overflow: hidden;
  border-radius: 5px;
}
.evidence-page-container > div:hover {
  cursor: pointer;
}
.evidence-page-container > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.evidence-expanded-box {
  height: 80%;
  width: 80%;
  position: absolute;
  z-index: 10;
  background-color: whitesmoke;
  /* border: 4px solid $modalBorderColor; */
}

.close-button-container {
  position: absolute;
  top: 0;
  right: 1%;
  height: 10%;
  width: 50px;
  background-color: none;
  padding: 7px;
  cursor: pointer;
}
.close-button-container img {
  width: 100%;
  height: 100%;
}

.evidence-popup-img-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.evidence-popup-img-container img {
  width: 100%;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (min-width: 700px) {
  .evidence-page-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .evidence-page-container > div {
    height: 40%;
    width: 48%;
    position: relative;
    transition: all 0.7s;
  }
  .evidence-page-container > div:hover {
    cursor: initial;
  }
  .evidence-page-container > div:hover p {
    z-index: 4;
    background-color: rgba(199, 127, 127, 0.7);
    transition: all 0.4s;
  }
  .evidence-page-container > div:hover button {
    opacity: 1;
    transition: all 0.4s;
  }
  .evidence-page-container > div img {
    -o-object-position: center;
       object-position: center;
  }
  .evidence-page-container > div p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: all 0.4s;
  }
  .evidence-page-container > div p button {
    opacity: 0;
    font-family: "Covered By Your Grace", cursive;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    padding: 1em;
    border: none;
    border-radius: 20px;
    background-color: rgba(27, 27, 27, 0.7);
    transition: all 0.4s;
  }
  .evidence-page-container > div p button:hover {
    background-color: rgb(27, 27, 27);
    transform: scale(1.2);
    transition: all 0.4s;
  }
  .evidence-page-container > div p button span {
    font-size: 2em;
    color: white;
  }
}
@media (min-width: 1180px) {
  .evidence-page-container {
    width: 100%;
    height: 100%;
  }
  .evidence-page-container > div {
    height: 60%;
    width: 20%;
  }
}
/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.search-results-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 12;
  height: 60%;
  width: 95%;
  background-color: rgb(231, 231, 231);
  border: 4px solid black;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (min-width: 700px) {
  .search-results-container {
    height: 90%;
    width: 70%;
  }
}
/*------------------------------MOBILE VIEW------------------------------*/
.burger-menu-container {
  position: relative;
  margin-left: auto;
}

.burger-menu-btn {
  border: none;
  background: none;
  border-radius: 50%;
  width: 75px;
  height: 8vh;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 50%;
}
.burger-menu-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s;
}
.burger-menu-btn img {
  width: 100%;
  height: 100%;
}

.burger-menu-dropdown {
  width: 270px;
  position: absolute;
  transform: rotateX(180deg);
  transform: rotateY(360deg);
  right: 0;
  z-index: 16;
  overflow: hidden;
  transition: height 0.5s;
  border-radius: 2px;
}
.burger-menu-dropdown li {
  height: 10vh;
}
.burger-menu-dropdown button {
  font-family: "Covered By Your Grace", cursive;
  font-size: 22px;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  color: white;
  border-top: 2px solid rgb(211, 199, 177);
}
.burger-menu-dropdown button:hover {
  background-color: rgb(43, 43, 43);
}

.search-bar-mobile {
  position: relative;
  width: 50px;
  height: 7vh;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  outline: none;
  font-size: 0.8em;
  background-color: wheat;
  background-image: url("../images/searchAnything.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.search-bar-mobile:hover {
  cursor: -webkit-grab;
  cursor: grab;
  background-color: wheat;
  transition: all 0.5s;
}
.search-bar-mobile:focus {
  cursor: initial;
  background-image: none;
  text-indent: 20px;
  border-radius: 2px;
  width: 35vw;
  height: 4.5vh;
  border: 2px solid rgb(70, 70, 70);
  background-color: wheat;
  transition: all 0.5s;
}

/* .search-bar-mobile {
  font-family: $mainFont;
  position: absolute;
  bottom: 3vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  background-color: $searchBtnBgColor;
  font-size: 3.5vw;
  width: 60vw;
  height: 40px;
  padding: 0 0.8em;
  border: 1px solid #555555;
  border-radius: 2px;
  &:hover {
    background-color: $searchBtnBgColorHover;
  }
  &:focus {
    cursor: initial;
    background-color: $searchBtnBgColor;
  }
} */
/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (max-width: 300px) {
  .burger-menu-dropdown {
    width: 200px;
  }
}
@media (min-width: 1180px) {
  .burger-menu-container {
    display: none;
  }
  .search-bar-mobile {
    display: none;
  }
}
.interrogation-page {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.interrogation-page .interrogation-top-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-align: left;
  position: relative;
}
.interrogation-page .interrogation-top-bar .top-bar-content {
  position: relative;
  background-color: red;
  height: 30px;
  line-height: 30px;
  padding: 0 100px 0 105px;
  display: inline-block;
}
.interrogation-page .interrogation-top-bar .top-bar-content::after {
  position: absolute;
  right: -50px;
  content: "";
  border-bottom: 25px solid red;
  border-left: 25px solid red;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
}
.interrogation-page .interrogation-top-bar .close-btn {
  border: 0;
  background: none;
  font-size: 22px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.interrogation-page .interrogation-top-bar .close-btn .close-icon {
  color: wheat;
}
.interrogation-page .main-frames-conta {
  width: 100%;
  height: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/interrogationRoom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.interrogation-page .main-frames-conta .dialogue-btn-conta {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interrogation-page .main-frames-conta .dialogue-btn-conta .start-btn {
  width: 150px;
  padding: 10px 12px;
  border-radius: 5px;
  border: 0;
  background-color: black;
  color: rgb(169, 165, 165);
  outline: 2.5px solid rgb(169, 165, 165);
  font-size: 16px;
  font-weight: bold;
}
.interrogation-page .main-frames-conta .frames-conta {
  width: 100%;
  height: 90%;
  position: relative;
  z-index: 0;
}
.interrogation-page .main-frames-conta .frames-conta .bubbles-conta {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.interrogation-page .main-frames-conta .frames-conta .leftFrame {
  -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
  width: 50%;
  height: 50%;
  margin-left: 1rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: top center;
}
.interrogation-page .main-frames-conta .frames-conta .rightFrame {
  -webkit-clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%);
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: 1rem;
  position: relative;
  transform: translateY(-5%);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: top center;
}

@media (min-width: 700px) {
  .interrogation-page .main-frames-conta .frames-conta {
    display: flex;
    justify-content: center;
  }
  .interrogation-page .main-frames-conta .frames-conta .bubbles-conta {
    max-width: 350px;
  }
  .interrogation-page .main-frames-conta .frames-conta .leftFrame {
    margin-left: 0;
    max-width: 350px;
    height: 95%;
    background-size: cover;
  }
  .interrogation-page .main-frames-conta .frames-conta .rightFrame {
    margin-left: 0;
    transform: translateY(0);
    margin-right: 0;
    max-width: 350px;
    height: 95%;
    background-size: cover;
  }
}
@media (min-width: 1180px) {
  .interrogation-page .main-frames-conta .frames-conta .bubbles-conta, .interrogation-page .main-frames-conta .frames-conta .leftFrame, .interrogation-page .main-frames-conta .frames-conta .rightFrame {
    max-width: 400px;
  }
}/*# sourceMappingURL=style.css.map */