@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

@import "./globals";
@import "./skeleton";
@import "./intro";
@import "./policePage";
@import "./policeReport";
@import "./evidencePage";
@import "./searchResults";
@import "./topBarMobile";
@import "./interrogationBox";
@import "./jimmysReveal";
@import "./clarksonResult";
@import "./nextAdventure";
