@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
/*-----------FONTS-----------*/
/*-----------COLORS-----------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #cc9c9c), to(#723838));
  background: linear-gradient(90deg, #cc9c9c 1%, #723838 100%);
}

/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #894747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-container {
  position: relative;
  height: 90%;
  width: 100%;
}

.left-bar {
  position: relative;
  padding: 0em 5em;
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5em;
}

.right-bar {
  display: none;
}

.recorded-conversations-btn,
.visited-addresses-btn {
  display: none;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (max-width: 700px) {
  .left-bar {
    padding: 0em 1em;
  }
}

@media (min-width: 1180px) {
  .App {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .game-container {
    height: 80%;
    width: 80%;
  }
  .recorded-conversations-btn,
  .visited-addresses-btn {
    display: initial;
    font-family: "Covered By Your Grace", cursive;
  }
  .recorded-conversations-btn:hover,
  .visited-addresses-btn:hover {
    cursor: pointer;
  }
  .right-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5em;
  }
  .right-bar button,
  .right-bar input {
    border-radius: 50%;
  }
  .left-bar,
  .right-bar {
    padding: 1em 5em 0 5em;
    height: 100%;
    width: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left-bar button,
  .right-bar button {
    border: none;
    color: wheat;
    font-size: 0.9vw;
  }
  .left-bar button {
    font-size: 1.2vw;
    width: 9vw;
    padding: 1em 2em;
    background: #231f20;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .left-bar button:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  .call-police-btn,
  .police-report-btn,
  .view-evidence-btn,
  .search-btn {
    width: 5vw;
    height: 10vh;
    overflow: hidden;
    background-color: #231f20;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .call-police-btn:hover,
  .police-report-btn:hover,
  .view-evidence-btn:hover,
  .search-btn:hover {
    cursor: pointer;
    background-color: rgba(35, 31, 32, 0.8);
    width: 6vw;
    height: 11vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .call-police-btn img,
  .police-report-btn img,
  .view-evidence-btn img,
  .search-btn img {
    width: 100%;
    height: 100%;
  }
  .call-police-btn {
    background-color: wheat;
  }
  .call-police-btn:hover {
    background-color: rgba(245, 222, 179, 0.8);
  }
  .search-btn {
    position: relative;
    border: none;
    outline: none;
    background-color: white;
    background-image: url("../images/searchAnything.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.1em;
  }
  .search-btn:hover {
    width: 5vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .search-btn:focus {
    cursor: initial;
    background-image: none;
    text-indent: 20px;
    z-index: 15;
    border-radius: 2px;
    margin-right: 20vw;
    width: 25vw;
    border: 2px solid #464646;
    background-color: white;
  }
}

/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.intro-page {
  font-family: "Covered By Your Grace", cursive;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0 3em;
}

.clown-image-container {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clown-image-container img {
  width: 60vw;
}

.intro-text-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.intro-text-container input {
  font-size: 5.5vw;
  outline: none;
  border: none;
  padding: 0.4em 1em;
  border-radius: 5px;
}

.intro-text-container button {
  font-size: 5.5vw;
  border: none;
  padding: 0.43em 1em;
  margin-left: 1em;
  background-color: black;
  color: wheat;
  border-radius: 5px;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.game-name {
  font-size: 18vw;
}

.game-descriptor {
  font-size: 10vw;
  color: wheat;
}

.player-greeting {
  font-size: 9vw;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (min-width: 435px) {
  .clown-image-container img {
    width: 16em;
  }
  .intro-text-container input {
    font-size: 1.5em;
  }
  .intro-text-container button {
    font-size: 1.5em;
  }
  .game-name {
    font-size: 5em;
  }
  .game-descriptor {
    font-size: 3em;
  }
}

@media (min-width: 1180px) {
  .intro-page {
    height: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .clown-image-container {
    width: 40%;
    height: 100%;
  }
  .clown-image-container img {
    width: 25vw;
  }
  .intro-text-container {
    width: 60%;
  }
  .intro-text-container input {
    font-size: 1.5vw;
  }
  .intro-text-container button {
    font-size: 1.5vw;
  }
  .game-name {
    font-size: 8vw;
    margin-top: 0.8em;
  }
  .game-descriptor {
    font-size: 3vw;
  }
  .input-container button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .player-greeting {
    font-size: 2vw;
  }
}

/*-----------HEIGHT-----------*/
@media (max-height: 800px) {
  .intro-text-container {
    gap: 1rem;
  }
}

@media (max-height: 660px) {
  .game-name {
    font-size: 12vh;
  }
  .game-descriptor {
    font-size: 5vh;
  }
  .clown-image-container img {
    width: 30vh;
  }
  .intro-text-container input {
    font-size: 4vh;
  }
  .intro-text-container button {
    font-size: 4vh;
  }
}

/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.police-page {
  font-family: "Covered By Your Grace", cursive;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 1em;
}

.police-container,
.detective-container {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.police-image-container,
.detective-image-container {
  width: 30%;
  height: 100%;
}

.police-image-container img,
.detective-image-container img {
  width: 100%;
  height: 100%;
}

.police-dialog-container,
.detective-dialog-container {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog-box-police,
.dialog-box-detective {
  border: 3px solid black;
  border-radius: 2px;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vw;
  background-color: whitesmoke;
  width: 95%;
}

.dialog-box-detective input {
  font-family: "Covered By Your Grace", cursive;
  border: none;
  background-color: black;
  width: 90%;
  color: white;
  font-size: 4vw;
  border-radius: 2px;
  padding: 1em 0.2em 1em 0.4em;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
/* @media (max-width: 500px) {
  .police-container,
  .detective-container {
    flex-direction: column;
    align-items: center;
  }
} */
@media (max-width: 800px) {
  .police-container,
  .detective-container {
    height: 40%;
    /* border: 2px solid red; */
  }
}

@media (min-width: 800px) {
  .police-container,
  .detective-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3em;
  }
  .dialog-box-police,
  .dialog-box-detective {
    padding: 2em;
    width: 700px;
    font-size: 30px;
  }
  .dialog-box-detective input {
    padding: 10px;
    font-size: 30px;
  }
  .police-image-container,
  .detective-image-container {
    height: 80%;
  }
  .police-dialog-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .detective-dialog-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/*-----------HEIGHT-----------*/
@media (max-height: 550px) {
  .dialog-box-police,
  .dialog-box-detective {
    padding: 1em;
  }
}

/*------------------------------MOBILE VIEW------------------------------*/
.police-report-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding: 1em;
}

.police-report-container {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.police-report-container img {
  width: 100%;
}

/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.evidence-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding: 1em;
}

.evidence-page-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.evidence-page-container > div {
  height: 25%;
  width: 70%;
  overflow: hidden;
  border-radius: 5px;
  /* border: 2px solid $imgContainerBorderColor; */
}

.evidence-page-container > div:hover {
  cursor: pointer;
}

.evidence-page-container > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.evidence-expanded-box {
  height: 80%;
  width: 80%;
  position: absolute;
  z-index: 10;
  background-color: whitesmoke;
  border: 4px solid black;
}

.close-button-container {
  position: absolute;
  top: 0;
  right: 1%;
  height: 10%;
  width: 50px;
  background-color: none;
  padding: 7px;
  cursor: pointer;
}

.close-button-container img {
  width: 100%;
  height: 100%;
}

.evidence-popup-img-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.evidence-popup-img-container img {
  width: 100%;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (min-width: 700px) {
  .evidence-page-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .evidence-page-container > div {
    height: 40%;
    width: 48%;
    position: relative;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .evidence-page-container > div:hover {
    cursor: initial;
  }
  .evidence-page-container > div:hover p {
    z-index: 4;
    background-color: rgba(199, 127, 127, 0.7);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .evidence-page-container > div:hover button {
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .evidence-page-container > div img {
    -o-object-position: center;
       object-position: center;
  }
  .evidence-page-container > div p {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .evidence-page-container > div p button {
    opacity: 0;
    font-family: "Covered By Your Grace", cursive;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    width: 50%;
    padding: 1em;
    border: none;
    border-radius: 20px;
    background-color: rgba(27, 27, 27, 0.7);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .evidence-page-container > div p button:hover {
    background-color: #1b1b1b;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .evidence-page-container > div p button span {
    font-size: 2em;
    color: white;
  }
}

@media (min-width: 1180px) {
  .evidence-page-container {
    width: 100%;
    height: 100%;
  }
  .evidence-page-container > div {
    height: 60%;
    width: 20%;
  }
}

/*-----------COLORS-----------*/
/*------------------------------MOBILE VIEW------------------------------*/
.search-results-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 12;
  height: 60%;
  width: 95%;
  background-color: #e7e7e7;
  border: 4px solid black;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (min-width: 700px) {
  .search-results-container {
    height: 90%;
    width: 70%;
  }
}

/*------------------------------MOBILE VIEW------------------------------*/
.burger-menu-container {
  position: relative;
  margin-left: auto;
}

.burger-menu-btn {
  border: none;
  background: none;
  border-radius: 50%;
  width: 75px;
  height: 8vh;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 50%;
}

.burger-menu-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger-menu-btn img {
  width: 100%;
  height: 100%;
}

.burger-menu-dropdown {
  width: 270px;
  position: absolute;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  right: 0;
  z-index: 16;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  border-radius: 2px;
}

.burger-menu-dropdown li {
  height: 10vh;
}

.burger-menu-dropdown button {
  font-family: "Covered By Your Grace", cursive;
  font-size: 22px;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  color: white;
  border-top: 2px solid #d3c7b1;
}

.burger-menu-dropdown button:hover {
  background-color: #2b2b2b;
}

.search-bar-mobile {
  position: relative;
  width: 50px;
  height: 7vh;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  outline: none;
  font-size: 0.8em;
  background-color: white;
  background-image: url("../images/searchAnything.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-bar-mobile:hover {
  cursor: -webkit-grab;
  cursor: grab;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-bar-mobile:focus {
  cursor: initial;
  background-image: none;
  text-indent: 20px;
  border-radius: 2px;
  width: 35vw;
  height: 4.5vh;
  border: 2px solid #464646;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* .search-bar-mobile {
  font-family: $mainFont;
  position: absolute;
  bottom: 3vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  background-color: $searchBtnBgColor;
  font-size: 3.5vw;
  width: 60vw;
  height: 40px;
  padding: 0 0.8em;
  border: 1px solid #555555;
  border-radius: 2px;
  &:hover {
    background-color: $searchBtnBgColorHover;
  }
  &:focus {
    cursor: initial;
    background-color: $searchBtnBgColor;
  }
} */
/*------------------------------MEDIA QUERIES------------------------------*/
/*-----------WIDTH-----------*/
@media (max-width: 300px) {
  .burger-menu-dropdown {
    width: 200px;
  }
}

@media (min-width: 1180px) {
  .burger-menu-container {
    display: none;
  }
  .search-bar-mobile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */